[Unit]
Description=__DESCRIPTION__
After=network.target

[Service]
Type=simple
User=runeflow
WorkingDirectory=/
ExecStart=/usr/bin/runeflow run
Restart=on-failure
SuccessExitStatus=2

[Install]
WantedBy=multi-user.target
